<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div [@fadeInAnimation]>
<div class="contenitore">
  <app-navbar></app-navbar>

  <div class="contatti">
    <ul>
      <h3><li>Numero: <span>328 962 7456</span></li></h3>
      <h3><li>Via: <span>Livorno 87</span></li></h3>
      <h3><li>Email: <span>mixologybar@gmail.com</span></li></h3>
      <h3><li>Social:<i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-tiktok"></i></li></h3>
    </ul>
  </div>
</div>
</div>
