<div [@fadeInAnimation]>
<div class="contenitore">
  <app-navbar></app-navbar>

  <div class="about">
    <div class="cont1">
      <h1>ABOUT US</h1>
      <p>Mixology Bar è un locale alla moda che offre una vasta selezione di drink e cocktail artigianali. Il nostro obiettivo è quello di offrire ai nostri clienti un'esperienza di degustazione unica e indimenticabile.

        La nostra squadra di baristi altamente qualificati è appassionata di creare cocktail innovativi e personalizzati in base ai gusti dei nostri clienti. Utilizziamo solo gli ingredienti di alta qualità e le tecniche di preparazione più avanzate per garantire che ogni drink sia una vera opera d'arte.

        Il nostro ambiente accogliente e rilassante è il luogo ideale per rilassarsi e socializzare con amici e colleghi. Siamo orgogliosi di offrire una vasta selezione di vini, birre artigianali e liquori premium per soddisfare tutti i gusti.

        Venite a trovarci al Mixology Bar e provate la nostra selezione di drink unici e gustosi. Siamo certi che non ve ne pentirete!</p>
  </div>
    <div class="vuoto"><h1></h1></div>
</div>
</div>
</div>
