*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;

}

.contenitore{
  padding-top: 10px;
  /* background: url('/assets/blurry-gradient-haikei.png'); */
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
}

#contenitore2{

  margin-top: 100px;

}


.row{

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col-xl-4{
  margin-bottom: 60px;
  max-width: 380px;
}


img{
  width: 100%;
}

img:hover{
  cursor: pointer;
}


h3, p, button{
  margin-left: 10px;
  margin-top: 8px;
}


@media (max-width:800px){
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col-xl-4{
    margin-bottom: 60px;
    max-width: 300px;
  }



}


