<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<div [@fadeInAnimation]>
<div class="contenitore">
    <app-navbar></app-navbar>
  <div class="container-lg" id="contenitore2">
    <div class="row">
        <div class="col-xl-4 col-md-6" *ngFor="let cocktail of cocktails">
          <img [src]="cocktail.strDrinkThumb" alt="Drink image">
          <h3>{{cocktail.strDrink }}</h3>
          <p>{{cocktail.strGlass }}</p>
          <p>{{cocktail.strAlcoholic }}</p>
          <button type="button" class="btn btn-outline-primary active"  (click)="showCocktailDetails(cocktail.idDrink)">Dettagli</button>
        </div>
    </div>
  </div>
</div>
</div>
